<!DOCTYPE html>
<html lang="en">
<head>
    {{ vite_asset('security.js', []) }}
    {% include '_head.html.twig' %}
</head>


<body class="login">

<div class="login-content">
    <div class="login-body">
        <div class="header">
            <img alt="Logo" class="logo" src="{{ asset('favicon.png') }}">
            Silvain.eu
        </div>
        <div class="stack-spacer"></div>
        {% block body %}
            <div class="login-header">
                <div class="login-header-icon">
                    {% block header_img %}
                        <img alt="Logo" class="logo" src="{{ asset('images/books.png') }}">
                    {% endblock %}
                </div>
                <div class="login-header-content">
                    <h1>Monsieur Patate Bot</h1>
                    {% block header_content %}
                        <h2>Se connecter</h2>
                    {% endblock %}
                </div>
            </div>
            <div class="login-zone {% block class_zone %}{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
        <div class="stack-spacer"></div>
        <footer>
            {% block footer %}{% endblock footer %}
            Site réalisé par : Ludwig SILVAIN | Copyright © Ludwig SILVAIN {{ "now"|date("Y") }}
        </footer>
    </div>
    <div class="login-background"></div>
</div>

{% block script %}{% endblock %}
</body>
</html>
