{% extends 'base.html.twig' %}

{% block content %}
    <div class="content content-center">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Configuration</h1>

                {% form_theme form "_themes.html.twig" %}
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}