{% extends 'security/base.html.twig' %}

{% block header_img %}
    <img alt="Logo" class="logo" src="{{ asset('images/legal_notice.png') }}">
{% endblock %}

 {% block header_content %}
     <h2>Mentions légales</h2>
 {% endblock %}

{% block class_zone %}vstack stack-start{% endblock %}

{% block content %}

    <h3>Propriétaire du site :</h3>
    <p>Ludwig SILVAIN</p>
    <p>Email : <a href="mailto:contact@silvain.eu">contact@silvain.eu</a></p>
    <p>&nbsp;</p>

    <h3>Hébergeur du site: <strong>Pulseheberg</strong></h3>
    <div>
        <p>55 avenue des champs Pierreux</p>
        <p>92012 Nanterre Cedex</p>
        <p>Société par actions simplifiée</p>
        <p>Siret : 824 070 619 00021</p>
    </div>
    <div>
        <p>Site: <a href="https://www.pulseheberg.com" target="_blank">www.pulseheberg.com</a></p>
        <p>Tel: <a href="tel:+33179736222">+33 (0) 1 79 73 62 22</a></p>
        <p>Email: <a href="mailto:contact@pulseheberg.com">contact@pulseheberg.com</a></p>
    </div>


{% endblock %}