@import "vars";
@import "ui";

@import "components/menu-left";
@import "components/menu-top";

body {
  background-color: var(--color-main-background);
  color: var(--color-text);
  position: relative;
  display: flex;
  flex-direction: row;


  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;


    .content {
      flex-grow: 1;
    }

    footer {
      padding: 10px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}