#dashboard-index {
  @extend .grid2
}

#today-planning-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px 20px;
}

#next-planning-item {
  .planning-screen-img {
    & > div {
      border-radius: 10px;
      overflow: hidden;
    }

    cursor: zoom-in;

    overflow: hidden;

    transition: background-color 0.8s;

    img {
      border-radius: 10px;
      transition: transform 0.8s;
    }

    &:hover img {
      transform: scale(1.2);
    }

    &.planning-screen-img-open {
      cursor: zoom-out;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      margin: 0;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(2px);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover img {
        transform: none;
      }

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      img, & > div > img {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }

  }
}

#next-planning-item > .card > .card-body {
  display: grid;
  grid-template-columns: 1fr;

  .planning-item-time {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;

    & > * {
      margin-right: 7px;
    }
  }

  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr 150px;
    .planning-item-time {
      flex-direction: column;
      align-items: end;
      justify-content: center;
      margin-top: 0;

      & > * {
        margin-right: 0;
        margin-bottom: 7px;
      }
    }
  }
}