{% extends 'base.html.twig' %}

{% block content %}
    <div class="card w-100">
        <div class="card-body text-center">
            <h1>Emplois du temps</h1>
            <h3 class="text-muted">{{ screen.modifiedDate|date("d/m/Y ~ H:i") }}</h3>

            <img src="{{ path('planning_screen', {"week": screen.week,"year": screen.year}) }}"
                 class="w-100"
                 alt="">

        </div>
    </div>
{% endblock %}