<div class="nav_top" data-turbo-permanent>
    <div class="nav-top_item">
        <button id="nav-responsive_open">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="nav-top_spacer"></div>

    <div class="nav-top_profile">
        <img src="{{ user_discord_avatar(app.user) }}" alt="">
        <div class="nav-top_profile-content">
            <p>{{ user_discord_username() }}</p>
        </div>
    </div>

    <div class="nav-top_item">
        <a href="{{ path('logout') }}">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
</div>