<!DOCTYPE html>
<html lang="en">
<head>
    {{ vite_asset('app.js', []) }}
    {% include '_head.html.twig' %}
</head>


<body class="login">

<footer>
    {% block footer %}{% endblock footer %}
    Site réalisé par : Ludwig SILVAIN | Copyright © Ludwig SILVAIN {{ "now"|date("Y") }}
</footer>
{% block script %}{% endblock %}
</body>
</html>
