<!DOCTYPE html>
<html lang="en">
<head>
    {{ vite_asset('app.js', []) }}
    {% include '_head.html.twig' %}
</head>


<body>

{% include '_nav_left.html.twig' %}

<main>
    {% include '_nav_top.html.twig' %}

    <div class="content"></div>

    <footer>
        {% block footer %}{% endblock footer %}
        Site réalisé par : Ludwig SILVAIN | Copyright © Ludwig SILVAIN {{ "now"|date("Y") }}
    </footer>
</main>

{% block script %}{% endblock %}
</body>
</html>
